version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: hospital_management_redis_prod
    ports:
      - "6379:6379"
    volumes:
      - redis_data_prod:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  app:
    image: hospital-management:latest  # Используем образ, собранный в CI/CD
    container_name: hospital_management_app_prod
    depends_on:
      redis:
        condition: service_healthy
    ports:
      - "8888:8888"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

volumes:
  redis_data_prod: